# Student Data
This notebook analyizes pass/fail data for class

In [1]:
names = ['Dan','Joann','Pedro','Rosie','Ethan','Vicky','Frederic','Jimmie','Rhonda','Giovanni','Francesca','Rajab','Naiyana','Kian','Jenny','Jakeem','Helena','Ismat','Anila','Skye','Daniel','Aisha','Bill','Ted']
print(names)

['Dan', 'Joann', 'Pedro', 'Rosie', 'Ethan', 'Vicky', 'Frederic', 'Jimmie', 'Rhonda', 'Giovanni', 'Francesca', 'Rajab', 'Naiyana', 'Kian', 'Jenny', 'Jakeem', 'Helena', 'Ismat', 'Anila', 'Skye', 'Daniel', 'Aisha', 'Bill', 'Ted']

In [2]:
scores = [50,50,47,97,49,3,53,42,26,74,82,62,37,15,70,27,36,35,48,52,63,64,float('nan')]
print (scores)

[50, 50, 47, 97, 49, 3, 53, 42, 26, 74, 82, 62, 37, 15, 70, 27, 36, 35, 48, 52, 63, 64, nan]

In [3]:
hours = [10,11.5,9,16,9.25,1,11.5,9,8.5,14.5,15.5,13.75,9,8,15.5,8,9,6,10,12,12.5,12,8,float('nan'),float('nan')]
print (hours)

[10, 11.5, 9, 16, 9.25, 1, 11.5, 9, 8.5, 14.5, 15.5, 13.75, 9, 8, 15.5, 8, 9, 6, 10, 12, 12.5, 12, 8, nan, nan]

In [4]:
import numpy as np
np_names = np.array(names)
np_scores = np.array(scores)
np_hours = np.array(hours)

In [5]:
np_names.shape

(24,)

In [6]:
np_scores.shape

(23,)

In [8]:
np_hours.shape

(25,)

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame({
    "Names": np_names,
    "Scores": np_scores,
    "Hours": np_hours
})

In [ ]:
data = np.column_stack((np_names, np_scores, np_hours))
df = pd.DataFrame(data, columns=["Names", "Scores", "Hours"])

In [ ]:
dataset_path="/Users/mikeyom/Documents/JuypterNotebook/datascience/z_data"

In [ ]:
df = pd.read_csv(f"{dataset_path}/student.csv")

In [ ]:
print(df)