# Fisher Data
This notebook analyizes fisher data

In [38]:
data_path = "/Users/mikeyom/Documents/JuypterNotebook/datascience"

In [39]:
!cat {data_path}/z_data/names.csv

'Elias', 'Naomi', 'Leo', 'Sasha', 'Dante', 'Ingrid', 'Arlo', 'Thalia', 'Felix', 'Maren', 'Rhys', 'Petra', 'Caspian', 'Anya', 'Kai', 'Eliza', 'Silas', 'Freya', 'Ezra', 'Clara', 'Leif', 'Astrid', 'Julian', 'Maeve', 'Aris'

In [40]:
!cat {data_path}/z_data/hours.csv

11.7, 5.3, 9.8, 3.6, 12.0, 7.4, 1.9, 8.1, 4.7, 10.5, 2.2, 6.9, 3.1, 11.2, 7.8, 5.0, 9.3, 2.5, 10.8, 6.3, 4.1, 8.6, NaN, 1.5, 7.0

In [41]:
!cat {data_path}/z_data/inches.csv

40.0, 17.4, 38.5, 11.5, 20.8, 18.7, 13.9, 28.2, 29.8, 25.9, 13.9, 23.6, 10.9, 32.4, NaN, 17.4, 36.8, NaN, 31.0, 24.7, 20.8, 37.1, 12.6, 14.3, 34.7

In [42]:
names = ['Elias', 'Naomi', 'Leo', 'Sasha', 'Dante', 'Ingrid', 'Arlo', 'Thalia', 'Felix', 'Maren', 'Rhys', 'Petra', 'Caspian', 'Anya', 'Kai', 'Eliza', 'Silas', 'Freya', 'Ezra', 'Clara', 'Leif', 'Astrid', 'Julian', 'Maeve', 'Aris'
]

In [43]:
hours = [11.7, 5.3, 9.8, 3.6, 12.0, 7.4, 1.9, 8.1, 4.7, 10.5, 2.2, 6.9, 3.1, 11.2, 7.8, 5.0, 9.3, 2.5, 10.8, 6.3, 4.1, 8.6, float('nan'), 1.5, 7.0
]

In [44]:
scores = [40.0, 17.4, 38.5, 11.5, 20.8, 18.7, 13.9, 28.2, 29.8, 25.9, 13.9, 23.6, 10.9, 32.4, float('nan'), 17.4, 36.8, float('nan'), 31.0, 24.7, 20.8, 37.1, 12.6, 14.3, 34.7]

In [45]:
inches = [40.0, 17.4, 38.5, 11.5, 20.8, 18.7, 13.9, 28.2, 29.8, 25.9, 13.9, 23.6, 10.9, 32.4, float('nan'), 17.4, 36.8, float('nan'), 31.0, 24.7, 20.8, 37.1, 12.6, 14.3, 34.7
]

In [46]:
import numpy as np

In [47]:
np_names = np.array(names)

In [48]:
np_names

array(['Elias', 'Naomi', 'Leo', 'Sasha', 'Dante', 'Ingrid', 'Arlo',
       'Thalia', 'Felix', 'Maren', 'Rhys', 'Petra', 'Caspian', 'Anya',
       'Kai', 'Eliza', 'Silas', 'Freya', 'Ezra', 'Clara', 'Leif',
       'Astrid', 'Julian', 'Maeve', 'Aris'], dtype='<U7')

In [49]:
np_names.shape

(25,)

In [50]:
np_hours = np.array(hours)

In [51]:
np_hours

array([11.7,  5.3,  9.8,  3.6, 12. ,  7.4,  1.9,  8.1,  4.7, 10.5,  2.2,
        6.9,  3.1, 11.2,  7.8,  5. ,  9.3,  2.5, 10.8,  6.3,  4.1,  8.6,
        nan,  1.5,  7. ])

In [52]:
np_hours.shape

(25,)

In [53]:
np_inches = np.array(inches)

In [54]:
np_inches

array([40. , 17.4, 38.5, 11.5, 20.8, 18.7, 13.9, 28.2, 29.8, 25.9, 13.9,
       23.6, 10.9, 32.4,  nan, 17.4, 36.8,  nan, 31. , 24.7, 20.8, 37.1,
       12.6, 14.3, 34.7])

In [55]:
np_inches.shape

(25,)

In [56]:
import pandas as pd

In [57]:
df_fisher = pd.DataFrame({
    "Names": np_names,
    "Hours": np_hours,
    "Inches": np_inches
})

In [58]:
df_fisher

      Names  Hours  Inches
0     Elias   11.7    40.0
1     Naomi    5.3    17.4
2       Leo    9.8    38.5
3     Sasha    3.6    11.5
4     Dante   12.0    20.8
5    Ingrid    7.4    18.7
6      Arlo    1.9    13.9
7    Thalia    8.1    28.2
8     Felix    4.7    29.8
9     Maren   10.5    25.9
10     Rhys    2.2    13.9
11    Petra    6.9    23.6
12  Caspian    3.1    10.9
13     Anya   11.2    32.4
14      Kai    7.8     NaN
15    Eliza    5.0    17.4
16    Silas    9.3    36.8
17    Freya    2.5     NaN
18     Ezra   10.8    31.0
19    Clara    6.3    24.7
20     Leif    4.1    20.8
21   Astrid    8.6    37.1
22   Julian    NaN    12.6
23    Maeve    1.5    14.3
24     Aris    7.0    34.7

In [59]:
df_fisher.isnull()

    Names  Hours  Inches
0   False  False   False
1   False  False   False
2   False  False   False
3   False  False   False
4   False  False   False
5   False  False   False
6   False  False   False
7   False  False   False
8   False  False   False
9   False  False   False
10  False  False   False
11  False  False   False
12  False  False   False
13  False  False   False
14  False  False    True
15  False  False   False
16  False  False   False
17  False  False    True
18  False  False   False
19  False  False   False
20  False  False   False
21  False  False   False
22  False   True   False
23  False  False   False
24  False  False   False

In [60]:
df_fisher.isnull().sum()

Names     0
Hours     1
Inches    2
dtype: int64

In [61]:
ave_hours = np.nanmean(hours)
ave_hours

np.float64(6.720833333333334)

In [62]:
ave_inches = np.nanmean(inches)
ave_inches

np.float64(24.12608695652174)

In [63]:
df_fisher[df_fisher.Hours > ave_hours]

     Names  Hours  Inches
0    Elias   11.7    40.0
2      Leo    9.8    38.5
4    Dante   12.0    20.8
5   Ingrid    7.4    18.7
7   Thalia    8.1    28.2
9    Maren   10.5    25.9
11   Petra    6.9    23.6
13    Anya   11.2    32.4
14     Kai    7.8     NaN
16   Silas    9.3    36.8
18    Ezra   10.8    31.0
21  Astrid    8.6    37.1
24    Aris    7.0    34.7

In [64]:
df_fisher[df_fisher.Hours < ave_hours]

      Names  Hours  Inches
1     Naomi    5.3    17.4
3     Sasha    3.6    11.5
6      Arlo    1.9    13.9
8     Felix    4.7    29.8
10     Rhys    2.2    13.9
12  Caspian    3.1    10.9
15    Eliza    5.0    17.4
17    Freya    2.5     NaN
19    Clara    6.3    24.7
20     Leif    4.1    20.8
23    Maeve    1.5    14.3

In [65]:
df_fisher_rep = df_fisher.fillna(df_fisher.mean(numeric_only=True))
df_fisher_rep

      Names      Hours     Inches
0     Elias  11.700000  40.000000
1     Naomi   5.300000  17.400000
2       Leo   9.800000  38.500000
3     Sasha   3.600000  11.500000
4     Dante  12.000000  20.800000
5    Ingrid   7.400000  18.700000
6      Arlo   1.900000  13.900000
7    Thalia   8.100000  28.200000
8     Felix   4.700000  29.800000
9     Maren  10.500000  25.900000
10     Rhys   2.200000  13.900000
11    Petra   6.900000  23.600000
12  Caspian   3.100000  10.900000
13     Anya  11.200000  32.400000
14      Kai   7.800000  24.126087
15    Eliza   5.000000  17.400000
16    Silas   9.300000  36.800000
17    Freya   2.500000  24.126087
18     Ezra  10.800000  31.000000
19    Clara   6.300000  24.700000
20     Leif   4.100000  20.800000
21   Astrid   8.600000  37.100000
22   Julian   6.720833  12.600000
23    Maeve   1.500000  14.300000
24     Aris   7.000000  34.700000

In [66]:
df_fisher = df_fisher.dropna(axis=0)
df_fisher

      Names  Hours  Inches
0     Elias   11.7    40.0
1     Naomi    5.3    17.4
2       Leo    9.8    38.5
3     Sasha    3.6    11.5
4     Dante   12.0    20.8
5    Ingrid    7.4    18.7
6      Arlo    1.9    13.9
7    Thalia    8.1    28.2
8     Felix    4.7    29.8
9     Maren   10.5    25.9
10     Rhys    2.2    13.9
11    Petra    6.9    23.6
12  Caspian    3.1    10.9
13     Anya   11.2    32.4
15    Eliza    5.0    17.4
16    Silas    9.3    36.8
18     Ezra   10.8    31.0
19    Clara    6.3    24.7
20     Leif    4.1    20.8
21   Astrid    8.6    37.1
23    Maeve    1.5    14.3
24     Aris    7.0    34.7

In [67]:
df_fisher[df_fisher.Hours > ave_hours].Inches.mean()
df_fisher

      Names  Hours  Inches
0     Elias   11.7    40.0
1     Naomi    5.3    17.4
2       Leo    9.8    38.5
3     Sasha    3.6    11.5
4     Dante   12.0    20.8
5    Ingrid    7.4    18.7
6      Arlo    1.9    13.9
7    Thalia    8.1    28.2
8     Felix    4.7    29.8
9     Maren   10.5    25.9
10     Rhys    2.2    13.9
11    Petra    6.9    23.6
12  Caspian    3.1    10.9
13     Anya   11.2    32.4
15    Eliza    5.0    17.4
16    Silas    9.3    36.8
18     Ezra   10.8    31.0
19    Clara    6.3    24.7
20     Leif    4.1    20.8
21   Astrid    8.6    37.1
23    Maeve    1.5    14.3
24     Aris    7.0    34.7

In [68]:
good_fisher = pd.Series(df_fisher.Inches >= 24)
good_fisher

0      True
1     False
2      True
3     False
4     False
5     False
6     False
7      True
8      True
9      True
10    False
11    False
12    False
13     True
15    False
16     True
18     True
19     True
20    False
21     True
23    False
24     True
Name: Inches, dtype: bool

In [69]:
df_fisher = pd.concat([df_fisher, good_fisher.rename('Good')], axis=1)
df_fisher

      Names  Hours  Inches   Good
0     Elias   11.7    40.0   True
1     Naomi    5.3    17.4  False
2       Leo    9.8    38.5   True
3     Sasha    3.6    11.5  False
4     Dante   12.0    20.8  False
5    Ingrid    7.4    18.7  False
6      Arlo    1.9    13.9  False
7    Thalia    8.1    28.2   True
8     Felix    4.7    29.8   True
9     Maren   10.5    25.9   True
10     Rhys    2.2    13.9  False
11    Petra    6.9    23.6  False
12  Caspian    3.1    10.9  False
13     Anya   11.2    32.4   True
15    Eliza    5.0    17.4  False
16    Silas    9.3    36.8   True
18     Ezra   10.8    31.0   True
19    Clara    6.3    24.7   True
20     Leif    4.1    20.8  False
21   Astrid    8.6    37.1   True
23    Maeve    1.5    14.3  False
24     Aris    7.0    34.7   True

In [ ]:
from matplotlib import pyplot as plt

In [ ]:
plt.bar(x=df_fisher.Names, height=df_fisher.Inches)